<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>유저 등록</h2>
    </div>

    <h4 class="mb-3">유저 정보 입력</h4>

    <form action="user.html" th:action method="post">
        <div>
            <label for="userId">User ID</label>
            <input type="text" id="userId" name="userId" class="form-control" placeholder="user Id를 입력하세요">
        </div>
        <div>
            <label for="userName">User Name</label>
            <input type="text" id="userName" name="userName" class="form-control" placeholder="user Name을 입력하세요">
        </div>
        <div>
            <label for="pwd">User Pwd</label>
            <input type="text" id="pwd" name="pwd" class="form-control" placeholder="user Pwd를 입력하세요">
        </div>
        <div>
            <label for="type">User Type</label>
            <select id="type" name="type" class="form-select">
                <option value="D">드림관리자</option>
                <option value="S">최고관리자</option>
                <option value="M">모니터링관리자</option>
                <option value="U">일반</option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">유저 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='users.html'"
                        th:onclick="|location.href='@{/front/users/{tenantId}(tenantId=${param.tenantId})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>