<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 1200px">
    <div class="py-5 text-center">
        <h2>유저 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                    onclick="location.href='index.html'"
                    th:onclick="|location.href='@{/}'|" type="button">HOME</button>
        </div>

        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='newUser.html'"
                    th:onclick="|location.href='@{/front/users/new?tenantId={tenantId}(tenantId=${tenantId})}'|" type="button">유저 생성</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <tr>
                <th  style="width: 40%">Tenant Id</th>
                <th  style="width: 8%">user Id</th>
                <th  style="width: 8%">user Name</th>
                <th  style="width: 8%">user status</th>
                <th  style="width: 8%">user type</th>
                <th  style="width: 8%">user pwd</th>
                <th  style="width: 20%">user createTime</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.tenantId}">tenant Id</td>
                <td th:text="${user.userId}">user Id</td>
                <td th:text="${user.userName}">user Name</td>
                <td th:text="${user.status}">user status</td>
                <td th:text="${user.type}">user type</td>
                <td th:text="${user.pwd}">user pwd</td>
                <td th:text="${user.createTime}">user createTime</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>