<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        input{ width: 260px; }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>에이전트 정보</h2>
    </div>

    <!-- -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
    <div>
        <label for="tenantId">테넌트 ID</label>
        <input type="text" id="tenantId" name="tenantId" class="form-control"
               value="7d184d5a-" th:value="${agent.tenantId}" readonly>
    </div>
    <div>
        <label for="agentName">에이전트 명</label>
        <input type="text" id="agentName" name="agentName" class="form-control"
               value="에이전트 명" th:value="${agent.agentName}" readonly>
    </div>
    <div>
        <label for="requestUrl">request Url</label>
        <input type="text" id="requestUrl" name="requestUrl" class="form-control"
               value="request Url" th:value="${agent.requestUrl}" readonly>
    </div>
    <div>
        <label for="logoutUrl">logout Url</label>
        <input type="text" id="logoutUrl" name="logoutUrl" class="form-control"
               value="logoutUrl" th:value="${agent.logoutUrl}" readonly>
    </div>
    <div>
        <label for="createTime">생성 시간</label>
        <input type="text" id="createTime" name="createTime" class="form-control"
               value="createTime" th:value="${agent.createTime}" readonly>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editAgent.html'"
                    th:onclick="|location.href='@{/front/agents/{tenantId}/edit(tenantId=${agent.tenantId})}'|"
                    type="button">수정</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='agents.html'"
                    th:onclick="|location.href='@{/front/agents}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>