<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>에이전트 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary btn-lg"
                    onclick="location.href='index.html'"
                    th:onclick="|location.href='@{/}'|" type="button">HOME</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='newAgent.html'"
                    th:onclick="|location.href='@{/front/agents/new}'|" type="button">에이전트 생성</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 50%">Tenant Id</th>
                <th style="width: 25%">Agent Name</th>
                <th style="width: 25%">Request URL</th>
                <th style="width: 25%">Logout URL</th>
                <th style="width: 25%">create Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="agent : ${agents}">
                <td><a href="agent.html" th:href="@{/front/agents/{tenantId}/{agentName}(tenantId=${agent.tenantId},agentName=${agent.agentName})}" th:text="${agent.tenantId}">Tenant Id</a></td>
                <td><a href="agent.html" th:href="@{/front/agents/{tenantId}/{agentName}(tenantId=${agent.tenantId},agentName=${agent.agentName})}" th:text="${agent.agentName}">Agent Name</a></td>
                <td><a th:text="${agent.requestUrl}">Request URL</a></td>
                <td><a th:text="${agent.logoutUrl}">Logout URL</a></td>
                <td th:text="${agent.createTime}">create time</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>