<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>에이전트 등록</h2>
    </div>

    <h4 class="mb-3">에이전트 정보 입력</h4>

    <form action="agent.html" th:action method="post">
        <div>
            <label for="tenantId">테넌트 Id</label>
            <input type="text" id="tenantId" name="tenantId" class="form-control" placeholder="테넌트 id를 입력하세요">
        </div>
        <div>
            <label for="agentName">에이전트 명</label>
            <input type="text" id="agentName" name="agentName" class="form-control" placeholder="에이전트 명을 입력하세요">
        </div>
        <div>
            <label for="requestUrl">request Url</label>
            <input type="text" id="requestUrl" name="requestUrl" class="form-control" placeholder="request Url을 입력하세요">
        </div>
        <div>
            <label for="logoutUrl">logout Url</label>
            <input type="text" id="logoutUrl" name="logoutUrl" class="form-control" placeholder="logout Url을 입력하세요">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">에이전트 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='agents.html'"
                        th:onclick="|location.href='@{/front/agents}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>