<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>테넌트 정보 수정</h2>
    </div>

    <form action="tenant.html" th:action method="post">
        <div>
            <label for="tenantId">테넌트 ID</label>
            <input type="text" id="tenantId" name="tenantId" class="form-control"
                   value="7d184d5a-c692-4f67-8491-47999077a791" th:value="${tenant.tenantId}" readonly>
        </div>
        <div>
            <label for="tenantName">테넌트 명</label>
            <input type="text" id="tenantName" name="tenantName" class="form-control"
                   value="테넌트 이름" th:value="${tenant.tenantName}">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='tenant.html'"
                        th:onclick="|location.href='@{/front/tenants/{tenantId}(tenantId=${tenant.tenantId})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>