<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>테넌트 등록</h2>
    </div>

    <h4 class="mb-3">테넌트 정보 입력</h4>

    <form action="tenant.html" th:action method="post">
        <div>
            <label for="tenantName">테넌트 명</label>
            <input type="text" id="tenantName" name="tenantName" class="form-control" placeholder="테넌트 명을 입력하세요">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">테넌트 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='tenants.html'"
                        th:onclick="|location.href='@{/front/tenants}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>