<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        input{ width: 260px; }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>테넌트 정보</h2>
    </div>

    <!-- -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
    <div>
        <label for="tenantId">테넌트 ID</label>
        <input type="text" id="tenantId" name="tenantId" class="form-control"
               value="7d184d5a-c692-4f67-8491-47999077a791" th:value="${tenant.tenantId}" readonly>
    </div>
    <div>
        <label for="tenantName">테넌트 명</label>
        <input type="text" id="tenantName" name="tenantName" class="form-control"
               value="테넌트 이름" th:value="${tenant.tenantName}" readonly>
    </div>
    <div>
        <label for="createTime">생성 시간</label>
        <input type="text" id="createTime" name="createTime" class="form-control"
               value="2022-04-05 00:29:37.0" th:value="${tenant.createTime}" readonly>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editTenant.html'"
                    th:onclick="|location.href='@{/front/tenants/{tenantId}/edit(tenantId=${tenant.tenantId})}'|"
                    type="button">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editTenant.html'"
                    th:onclick="|location.href='@{/front/users/{tenantId}(tenantId=${tenant.tenantId})}'|"
                    type="button">유저 조회</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='tenants.html'"
                    th:onclick="|location.href='@{/front/tenants}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>