<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>테넌트 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary btn-lg"
                    onclick="location.href='index.html'"
                    th:onclick="|location.href='@{/}'|" type="button">HOME</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='newTenant.html'"
                    th:onclick="|location.href='@{/front/tenants/new}'|" type="button">테넌트 생성</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 50%">Tenant Id</th>
                <th style="width: 25%">Tenant Name</th>
                <th style="width: 25%">create Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tenant : ${tenants}">
                <td><a href="tenant.html" th:href="@{/front/tenants/{tenantId}(tenantId=${tenant.tenantId})}" th:text="${tenant.tenantId}">tenant Id</a></td>
                <td><a href="tenant.html" th:href="@{/front/tenants/{tenantId}(tenantId=${tenant.tenantId})}" th:text="${tenant.tenantName}">tenant Name</a></td>
                <td th:text="${tenant.createTime}">create time</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>